<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed %>
    <input type="checkbox" checked disabled><%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Delete #{task.title}?" } %>
  <% else %>
    <input type="checkbox" disabled><%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Delete #{task.title}?" } %>
  <% end %>
  <br>
<% end  %>

</a> <%= link_to "Add a new task", new_task_path %>
